{% extends 'base.html' %}

{% block titulo %} Registrase {% endblock titulo %}

{% block body %}
<div style="background-color: #d5eadc; display: flex; height: 95vh; justify-content: center; align-items: center;">
    <!-- Contenedor principal -->
    <div
        style="display: flex; border-radius: 20px; overflow: hidden; width: 70%; max-width: 80%; height: 60vh; padding: 30px; background-color: #a0d8b3;  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);">

        <!-- Columna izquierda -->
        <div
            style="background-color: blue; color: white; flex: 1; padding: 30px; display: flex; flex-direction: column; justify-content: center; align-items: center; border-radius: 10px; text-align: center;">
            <!-- Imagen centrada -->
            <img src="{{ url_for('static', filename='login.png') }}"
                style="max-width: 50%; height: auto; object-fit: contain; margin-bottom: 20px;">
            <h2>¡Bienvenido!</h2>
            <p style="font-family: Lucida Console;">Ingresar infomación de registro</p>
            <a href="login">
            <button type="button" class="btn btn-success">Iniciar Sesión</button>
            </a>
        </div>


        <!-- Columna derecha -->
        <div
            style="background-color: #a0d8b3; flex: 1; padding: 30px; display: flex; flex-direction: column; justify-content: center; align-items: center; height: 100%;">
            <h2>Bienvenidos</h2>
            <button type="button" class="btn btn-light"
                style="width: 100%; max-width: 400px; height: 45px; margin-bottom: 20px; display: flex; align-items: center; justify-content: center;">
                <!-- Logo de Google  -->
                <img src="{{ url_for('static', filename='logoGoogle.png') }}" alt="Google Logo"
                    style="width: 20px; margin-right: 10px;">
                Iniciar con Google
            </button>


            <p>o Usar tu email para registrase</p>
            <form style="width: 100%; max-width: 400px;">
                <div class="input-group mb-3">
                    <input type="text" class="form-control" placeholder="Nombre completo" aria-label="nombrecompleto"
                        aria-describedby="basic-addon1">
                </div>

                <div class="input-group mb-3">
                    <input type="text" class="form-control" placeholder="Correo electrónico" aria-label="correo"
                        aria-describedby="basic-addon1">
                </div>

                <div class="input-group mb-3">
                    <input type="text" class="form-control" placeholder="Contraseña" aria-label="contraseña"
                        aria-describedby="basic-addon1">
                </div>
                <button type="button" class="btn btn-primary"
                    style="width: 100%; max-width: 400px; height: 45px;">Registrarse</button>
            </form>
        </div>

    </div>
</div>
{% endblock %}